<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-screenProtector" version="1.0.0">
   <name>screenProtector</name>
   <js-module name="screenProtector" src="www/screenProtector.js">
      <clobbers target="cordova.plugins.screenProtector" />
   </js-module>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="screenProtector">
            <param name="ios-package" value="screenProtector" />
         </feature>
      </config-file>
      <source-file src="src/ios/screenProtector.m" />
   </platform>
</plugin>